.chat{
  height: 100vh;
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "a b";
  &__menue{
    padding: 0 10px;
    grid-area: a;
    //border-right: 3px solid rgba(241, 39, 17, 0.6);
    box-sizing: border-box;
  }
  &__bar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  &__btn-profile{
    margin: 0 10px 0 auto;
    padding: 23px 0;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #999999;
    cursor: pointer;
    transition: 0.4s;
    &:hover{
      color: rgba(241, 39, 17, 0.6);
    }
  }
  &__inpot-container{
  }
  &__input-search{
    padding: 0 0 0 10px;
    margin: 0 0 14px 0;
    width: 290px;
    height: 32px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgba(241, 39, 17, 0.6);
    color: #000;
    transition: 0.4s;
    box-sizing: border-box;

    &::placeholder{
      color: #fff;
      text-align: center;
    }
    &:focus{
      box-shadow: 0 0 0 1pt rgba(241, 39, 17, 0.6);
      background-color: white;
    }
  }
  &__list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    list-style-type: none;

  }

}