.companion{
  position: relative;
  width: 100%;
  padding: 12px 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 47px 193px 45px;
  grid-template-rows: 24px 24px;
  grid-template-areas:
  "a b c"
  "a d e";
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  &:hover{
    background-color: rgba(241, 39, 17, 0.13);
  }
  //&:after{
  //  content: "";
  //  margin-left: -45%;
  //  position: absolute;
  //  top: 0;
  //  left: 50%;
  //  width: 90%;
  //  height: 1px;
  //  background-color: rgba(241, 39, 17, 0.6);
  //}
  &__avatar{
    grid-area: a;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: rgba(241, 39, 17, 0.16);
  }
  &__name{
    grid-area: b;
    margin: 0 0 0 10px;
    padding: 0;
    max-width: 170px;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
  }
  &__last-massage{
    grid-area: d;
    margin: 0 0 0 10px;
    padding: 0;
    max-width: 170px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #999;
  }
  &__time{
    margin: 0 10px 0 auto ;
    padding: 0;
    grid-area: c;
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    color: #999;
  }
  &__not-read-massage{
    grid-area: e;
    margin: 0 10px 0 auto;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(241, 39, 17, 0.6);
    border-radius: 50%;
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
    color: #fff;
  }
}